root {
  --font-size: 14px;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  overflow: hidden;
  background-color: #fff;
  font-family: system-ui, sans-serif;
}

.toggle-settings,
.toggle-sessions {
  left: 1px;
  position: fixed;
  background-color: transparent;
  transition: all 700ms ease-in-out;
}

.toggle-sessions {
  top: 0; 
}

.toggle-settings {
  top: 44px; 
}

.toggle-settings[state='hide'],
.toggle-sessions[state='hide'] {
  z-index: 11;
  transform: translate(0, 0);
}

.toggle-settings[state='show'] {
  z-index: 12;
  transform: translate(257px, -44px);
}

.toggle-sessions[state='show'] {
  z-index: 12;
  transform: translate(257px, 0px);
}

.toggle-settings[state='show'] table tr td svg,
.toggle-sessions[state='show'] table tr td svg {
  fill: #fff;
}

.toggle-settings table,
.toggle-sessions table {
  border-spacing: 0;
  table-layout: fixed;
}

.toggle-settings table tr td,
.toggle-sessions table tr td {
  padding: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: transparent;
  transition: 300ms ease background-color;
}

.toggle-settings table tr td svg,
.toggle-sessions table tr td svg {
  fill: #555;
  margin-top: -3px;
  pointer-events: none;
  vertical-align: middle;
}

.toggle-settings table tr td:hover,
.toggle-sessions table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.scroll {
  gap: 1px;
  left: 1px;
  border: 0;
  margin: 0;
  padding: 0;
  width: 42px;
  z-index: 10;
  bottom: 54px;
  display: flex;
  position: fixed;
  flex-flow: column;
  align-items: center;
  background-color: #fff;
  justify-content: center;
}

.scroll div {
  width: 100%;
  height: 42px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 300ms ease background-color;
}

.scroll div svg {
  fill: #555;
  user-select: none;
  vertical-align: middle;
}

.scroll div:hover {
  background-color: rgba(0,0,0,0.05);
}

.toolbar {
  top: 88px;
  border: 0;
  margin: 0;
  left: 1px;
  padding: 0;
  position: fixed;
  background: transparent;
}

.toolbar table {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  border-spacing: 0;
  table-layout: fixed;
}

.toolbar table tr td {
  padding: 0;
  width: 42px;
  height: 42px;
  outline: none;
  cursor: pointer;
  line-height: 42px;
  user-select: none;
  text-align: center;
  transition: 300ms ease background-color;
}

.toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.toolbar table tr td svg {
  fill: #555;
  user-select: none;
  vertical-align: middle;
}

.footer {
  left: 0;
  bottom: 0;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-flow: row;
  position: fixed;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  border-top: solid 1px rgba(0,0,0,0.25);
}

.footer .input {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  overflow-y: auto;
  max-height: 300px;
  align-items: center;
  justify-content: flex-start;
}

.footer .input svg {
  margin: 0;
  fill: #333;
  display: none;
  user-select: none;
  margin-left: 15px;
  vertical-align: middle;
}

.footer .input textarea {
  border: 0;
  color: #000;
  width: 100%;
  resize: none;
  height: 42px;
  outline: none;
  display: block;
  font-size: 16px;
  padding: 10px 15px;
  box-sizing: border-box;
  background-color: transparent;
  font-family: system-ui, sans-serif;
}

.footer .submit {
  border: 0;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 52px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  border-left: solid 1px rgba(0,0,0,0.1);
  transition: 300ms ease background-color;
}

.footer .submit:hover {
  background-color: rgba(0,0,0,0.05);
}

.footer .submit .stop {display: none}
.footer .submit .start {display: block}

.footer .submit svg {
  fill: #843cd5;
  display: none;
  user-select: none;
  vertical-align: middle;
}

.container {
  border: 0;
  margin: 0;
  padding: 0;
  margin-left: 44px;
  background-color: #fff;
  box-sizing: border-box;
  width: calc(100% - 45px);
  height: calc(100vh - 53px);
  border-left: solid 1px rgba(0,0,0,0.25);
}

.container .settings,
.container .sessions {
  top: 0;
  border: 0;
  z-index: 11;
  width: 300px;
  left: -300px;
  height: 100vh;
  display: block;
  position: fixed;
  background-color: #fff;
  transition: 700ms ease-in-out transform;
}

.container .settings .content,
.container .sessions .content {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 42px);
}

.container .settings .content table,
.container .sessions .content table {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
}

.container .settings .content table {
  border-spacing: 5px;
}

.container .sessions .content table {
  border-spacing: 0 5px;
}

.container .settings .content table tr[active] td,
.container .sessions .content table tr[active] td {
  background-color: rgba(0,0,0,0.05);
}

.container .settings .content table tr td,
.container .sessions .content table tr td {
  padding: 0;
  height: 42px;
  line-height: 42px;
  user-select: none;
  text-align: center;
  background-color: #fff;
  transition: 300ms ease background-color;
}

.container .settings .content table tr td.name {
  text-align: left;
  text-indent: 5px;
}

.container .sessions .content table tr td.name {
  text-align: left;
  text-indent: 10px;
}

.container .settings .content table tr td.name label,
.container .sessions .content table tr td.name label {
  cursor: pointer;
}

.container .settings .content table tr td.value,
.container .sessions .content table tr td.value {
  width: 90px;
  max-width: 90px;
  text-align: right;
}

.container .settings .content table tr td.value input,
.container .sessions .content table tr td.value input {
  padding: 0;
  margin-top: -4px;
  vertical-align: middle;
}

.container .settings .content table tr td input[type='checkbox'],
.container .sessions .content table tr td input[type='checkbox'] {
  cursor: pointer;
  margin: auto 10px;
}

.container .settings .content table tr td.value input[type='number'],
.container .sessions .content table tr td.value input[type='number'] {
  width: 84px;
  height: 38px;
  outline: none;
  text-indent: 10px;
  line-height: 38px;
  margin-right: 2px;
  border-radius: 3px;
  border: solid 1px rgba(0, 0, 0, 0.25);
}

.container .settings .content table tr td.index,
.container .sessions .content table tr td.index {
  width: 72px;
  min-width: 72px;
  max-width: 72px;
}

.container .settings .content table tr td.remove,
.container .sessions .content table tr td.remove {
  width: 42px;
  min-width: 42px;
  max-width: 42px;
}

.container .settings .content table tr td.remove,
.container .sessions .content table tr td.remove {
  font-size: 10px;
  cursor: pointer;
  transition: 300ms ease background-color;
}

.container .settings .content table tr td.remove:hover,
.container .sessions .content table tr td.remove:hover {
  background-color: rgba(0,0,0,0.05);
}

.container .settings .content table tr td.session,
.container .sessions .content table tr td.session {
  cursor: pointer;
  overflow: hidden;
  max-width: 250px;
  text-align: left;
  text-indent: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container .settings .content table tr td.session:hover,
.container .sessions .content table tr td.session:hover {
  background-color: rgba(0,0,0,0.05);
}

.container .settings .header,
.container .sessions .header {
  color: #fff;
  height: 42px;
  text-align: left;
  text-indent: 15px;
  line-height: 42px;
  background-color: #834ec0;
}

.container .settings .header svg,
.container .sessions .header svg {
  fill: #fff;
  margin-top: -3px;
  pointer-events: none;
  vertical-align: middle;
}

.container .settings .header div,
.container .sessions .header div {
  height: 100%;
  text-indent: 0;
  user-select: none;
  text-align: center;
  display: inline-block;
}

.container .settings .header .clear,
.container .sessions .header .clear {
  width: 42px;
  cursor: pointer;
  margin-left: 5px;
  transition: 300ms ease background-color;
}

.container .settings .header .clear:hover,
.container .sessions .header .clear:hover {
  background-color: rgba(0,0,0,0.05);
}

.container .chat {
  gap: 1px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  background-color: #fff;
  justify-content: center;
}

.container .chat svg {
  fill: #666;
  pointer-events: none;
  vertical-align: middle;
}

.container .chat .error,
.container .chat .loading {
  display: none;
}

.container .chat:empty {
  background: url('../icons/128.png') no-repeat  center;
}

.container .chat .item {
  width: 100%;
  background-color: #f1f1f1;
}

.container .chat .item[open] {
  background-color: #fff;
}

.container .chat .item summary {
  color: #333;
  height: 52px;
  font-weight: 600;
  user-select: none;
  line-height: 52px;
  text-indent: 15px;
  margin-bottom: 1px;
}

.container .chat .item summary .header {
  width: auto;
  align-items: center;
  display: inline-flex;
  justify-content: flex-start;
}

.container .chat .item summary .header .copy,
.container .chat .item summary .header .title {
  cursor: pointer;
}

.container .chat .item .ai .answer .header {
  width: calc(100% - 42px);
  justify-content: space-between;
}

.container .chat .item .ai .answer .header .title {
  color: #843cd5;
}

.container .chat .item summary .header svg {
  fill: #666;
  pointer-events: none;
  vertical-align: middle;
}

.container .chat .item summary .header .time,
.container .chat .item summary .header .title {
  margin: 0;
  border: 0;
  padding: 0;
  display: block;
  text-indent: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--font-size);
}

.container .chat .item summary .header .copy {
  margin: 0;
  border: 0;
  padding: 0;
  width: 52px;
  height: 52px;
  margin-left: 5px;
  user-select: none;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  transition: 300ms ease background-color;
}

.container .chat .item summary .header .copy:active {
  animation-name: copy;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.container .chat .item summary .header .copy:hover {
  background-color: rgba(0,0,0,0.05);
}

.container .chat .item summary .header .time {
  text-indent: 5px;
}

.container .chat .item[open] > summary {
  background-color: #fff;
}

.container .chat .item[open] summary .header .time {
  display: none;
}

.container .chat .item .ai,
.container .chat .item .user {
  gap: 1px;
  width: 100%;
  margin: 1px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.container .chat .item .user {
  align-items: flex-end;
}

.container .chat .item .user .title {
  width: 100%;
  height: 52px;
  display: flex;
  line-height: 52px;
  align-items: center;
  letter-spacing: 1px;
  justify-content: space-between;
}

.container .chat .item .user .title .time {
  margin: 0;
  border: 0;
  padding: 0;
  color: #843cd5;
  overflow: hidden;
  text-indent: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--font-size);
}

.container .chat .item .ai {
  align-items: flex-start;
}

.container .chat .item .icon {
  width: 38px;
  height: 38px;
  display: flex;
  min-width: 38px;
  max-width: 38px;
  margin: 5px 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.container .chat .item .ai .icon {
  background-color: #843cd5;
}

.container .chat .item .user .icon {
  background-color: #555;
}

.container .chat .item .icon svg {
  fill: #fff;
  user-select: none;
  vertical-align: middle;
}

.container .chat .item .ai .answer,
.container .chat .item .user .question {
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f1f1f1;
  font-size: var(--font-size);
}

.container .chat .item .ai .answer:has(details[open]),
.container .chat .item .user .question:has(details[open]) {
  background-color: transparent;
}

.container .chat .item .user .question textarea {
  border: 0;
  color: #000;
  margin: 10px;
  height: 42px;
  resize: none;
  padding: 10px;
  outline: none;
  min-height: 42px;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  width: calc(100% - 20px);
  font-size: var(--font-size);
  border: solid 1px rgba(0,0,0,0.25);
  font-family: system-ui, sans-serif;
}

.container .chat .item .ai .answer .content {
  border: 0;
  margin: 10px;
  padding: 10px;
  min-height: 68px;
  line-height: 1.5;
  border-radius: 5px;
  box-sizing: border-box;
  width: calc(100% - 20px);
  border: solid 1px rgba(0,0,0,0.25);
}

.container .chat .item .ai .answer .content .hljs {
  margin: 0;
  color: #333;
  padding: 15px;
  white-space: pre-wrap;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.05);
}

html[loading] .footer .input {
  pointer-events: none;
}

html[loading] .footer .input svg {
  display: block;
}

html[loading] .container .chat .error {
  display: none;
}

html[loading] .container .chat .loading {
  display: block;
}

html[busy] .footer .submit .stop {
  display: block;
}

html[busy] .footer .submit .start {
  display: none;
}

html[session] .container .chat {
  justify-content: flex-start;
}

html[destroyed] .container .chat .item:last-child .ai .answer .content p {
  color: #ff1616;
}

html[error] .container .chat .error {
  display: block;
}

html[error] .container .chat .loading {
  display: none;
}

html[error] #print,
html[error] #expand,
html[error] #session,
html[error] #collapse,
html[error] #toggle-sessions,
html[error] #toggle-settings,
html[error] .footer,
html[error] .scroll .top,
html[error] .scroll .bottom {
  opacity: 0.50;
  pointer-events: none;
}

html:has(.toggle-settings[state='hide']) .container .settings,
html:has(.toggle-sessions[state='hide']) .container .sessions {
  transform: translate(0, 0);
}

html:has(.toggle-settings[state='show']) .container .settings,
html:has(.toggle-sessions[state='show']) .container .sessions {
  transform: translate(300px, 0);
  box-shadow: 1px 0 0 0 rgb(0,0,0,0.25);
}

html[context="webapp"] .toolbar table tr:has(#support),
html[context="webapp"] .toolbar table tr:has(#donation) {
  display: none;
}

html[context="webapp"] .footer {
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
}

html[context="popup"] tr:has(#print),
html[context="sidebar"] tr:has(#print) {
  display: none;
}

@keyframes copy {
  from {
    background-color: #843cd5;
  }
  to {
    background-color: transparent;
  }
}

@media print {
  .scroll, .toolbar, .footer, .toggle-sessions, .toggle-settings {
    display: none;
  }
  .container {
    margin: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
  }
  .container .chat {
    overflow: hidden;
    height: min-content;
  }
}
